*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d9dbda;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    
}
.h1{
    
    border-radius:8px ;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    font-weight: bolder;
    font-size: 50px;
    font-family:LEGEND OF THE WHITE LION;
}
.h1:hover span{
    color: #6ca9f0;
}
.container {
    border: 1px solid rgba(128, 128, 128, 0.671);
    background-color: white;
    border-radius: 8px;
    position: relative;
    margin: 10px;
    padding: 5px;
  }
.container:hover{
    box-shadow:grey 2px 3px 10px 3px;
    transition: 0.5;
}
  
  .image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .text {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    margin-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 250px;
  }
  .desc{
      width: 250px;
      text-align: left;
      color: gray;
      margin-left: 2px;
      margin-bottom: 20px;    
  }
  .publishdate{
      text-align:right;
      font-size:12px;
      margin: 3px;
      opacity:0.7;

  }
  .food{
      
      display: flex;
      justify-content:space-evenly;
  }
  .foods{
      width:100%;
  }
  .container img{
      border-radius: 10px;
  }
  .h2{
    
    border-radius:8px ;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    font-weight: bolder;
    font-size: 50px;
    font-family:LEGEND OF THE WHITE LION;
  }
  .h2:hover span{
    color: #eec81d;
    transition:1s ease;
  }
  .h2:hover #Recipe{
    color:rgba(0, 0, 0, 0.63)
  }
  .h2:hover{
    font-size:80px;
    width: 84%;
    margin-left: 6%;
    border:5px outset rgb(255, 253, 253);
    transition: 0.5 ease;
   
  }
  